<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="{{site.description}}">
  <meta name="author" content="ExaWorks Team">
  <link rel="icon" href="/favicon.ico">
  <link rel="shortcut icon" type="image/png" href="/favicon.ico">
  <link rel="stylesheet" href="/assets/css/main.css" />

  <title>{% if page.title %} {{ page.title }} - {% endif %}{{ site.title }}</title>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-CNCCS6HWZP"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-CNCCS6HWZP');
  </script>
  <script src="https://kit.fontawesome.com/0f2ef02e2b.js" crossorigin="anonymous"></script>
</head>

<body class="homepage is-preload">
  <div id="page-wrapper">
    <!-- Header -->
    <div id="header-wrapper" style="padding: 0">
      <div id="header" class="container" style="position: fixed; top: 0; z-index: 10000">

        <!-- Logo -->
        <h1 id="logo"><a href="/"><img src="/images/exaworks-name.png" width="75%" style="margin-top: 0.75em" /></a>
        </h1>

        <!-- Nav -->
        <nav id="nav">
          <ul>
            <!-- <li>
                <a href="#">Dropdown</a>
                <ul>
                  <li><a href="#">Lorem ipsum dolor</a></li>
                  <li><a href="#">Magna phasellus</a></li>
                  <li><a href="#">Etiam dolore nisl</a></li>
                  <li>
                    <a href="#">Phasellus consequat</a>
                    <ul>
                      <li><a href="#">Lorem ipsum dolor</a></li>
                      <li><a href="#">Phasellus consequat</a></li>
                      <li><a href="#">Magna phasellus</a></li>
                      <li><a href="#">Etiam dolore nisl</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Veroeros feugiat</a></li>
                </ul>
              </li> -->
            <!--<li><a href="/psij">PSI/J</a></li>-->
            <li><a href="/psij-python">PSI/J</a></li>
            <li><a href="/sdk">SDK</a></li>
            <li><a href="/community">Community</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="https://join.slack.com/t/exaworks/shared_invite/zt-gttapi1i-GSaiHd8Q0h7uKyZnIqAUwQ"
                target="_blank"><i class="fab fa-slack"></i></a></li>
            <li><a href="https://github.com/exaworks" target="_blank"><i class="fab fa-github"></i></a></li>
          </ul>
        </nav>
      </div>
  </div>

  <main role="main">
    {{ content }}
  </main>

  <!-- Footer -->
  <div id="footer-wrapper">
    <div id="copyright" class="container">
      <ul class="menu">
        <li>&copy;{{ site.time | date: '%Y' }} ExaWorks</li>
        <li><a href="https://join.slack.com/t/exaworks/shared_invite/zt-gttapi1i-GSaiHd8Q0h7uKyZnIqAUwQ"
            target="_blank" style="border-bottom: 0"><i class="fab fa-slack"></i></a></li>
        <li><a href="https://github.com/exaworks" target="_blank" style="border-bottom: 0"><i class="fab fa-github"></i></a></li>
      </ul>
      <div>
        <a href="https://www.llnl.gov/" target="_blank" style="border-bottom: 0">
          <img src="/images/llnl.png" style="height: 3em" />
        </a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.anl.gov/" target="_blank" style="border-bottom: 0">
          <img src="/images/anl-200.png" style="height: 3em" />
        </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.bnl.gov/world/" target="_blank" style="border-bottom: 0">
          <img src="/images/bnl.png" style="height: 3em" />
        </a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="https://www.ornl.gov/" target="_blank" style="border-bottom: 0">
          <img src="/images/ornl.png" style="height: 2.5em" />
        </a>
      </div>
    </div>
  </div>

</body>

</html>
